<style type='text/css'>
    .main{
        width: 1000px;
        height: auto;
        border: 0.5px solid #e67e22;
        padding: 6px;
        margin-top: 20px;
        border-radius: 10px;
        background-color: aquamarine;
    }
    .root{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heading{
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        border:0.5px #000000;
        padding: 6px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: coral;
    }
    .title {
        color: #FFFFFF;
    }
    .button{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .buttonset{
        width: 120px;
        margin: 6px;
    }
 .msg{
     align-content: center;
     justify-content: center;
     display: flex;
 }
</style>

<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/menu/img/favicon.png" rel="icon">
  <link href="/static/menu/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/menu/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/menu/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/menu/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/menu/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/static/menu/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/static/menu/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/menu/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Delicious - v2.2.1
  * Template URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container">
          <div class="section-title">
              <h2>Place an <span>Order</span></h2>
              <p>In order that we may be able to obtain it, who is that in the times in the explication thereof whereas the pleasure of all the modes of the fault and of living he wishes to, however, will occur.</p>
            </div>
          <form action="/order" method="post" enctype="multipart/form-data"> {% csrf_token%}
                <div class="root">
                    <div class="main">
                        <div class="heading">
                            <h3 class="title"><b>Order Info</b></h3>
                        </div>
                            <div class="form-group">
                                <label >Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Enter Name">
                            </div>

                            <div class="form-group">
                                <label >Email</label>
                                <input type="Email" class="form-control" name="email" placeholder="Enter Email">
                            </div>

                            <div class="form-group">
                                <label >Phone</label>
                                <input type="tel" class="form-control" name="phone" placeholder="Enter Phone No.">
                            </div>

                            <div class="form-group">
                                <label >Date</label>
                                <input type="date" class="form-control" name="date" placeholder="Enter Date">
                            </div>

                            <div class="form-group">
                                <label >Item</label>
                                <select  class="form-control" name="item"   >
                                    <option>-Select Item-</option>
                                    {% for srow in srows %}
                                        <option>{{ srow.2 }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label >Plate(Half/Full)</label>
                                <select  class="form-control" name="hf" >
                                    <option>-Select-</option>
                                    <option>Half Plate</option>
                                    <option>Full Plate</option>
                                </select>
                            </div>

                            <div class="form-group button">
                                <input type="submit" class="btn btn-primary buttonset">
                            </div>

                            <div class="form-group ">
                                <label class="msg">{{msg}}</label>
                            </div>
                    </div>
                </div>
           </form>
{#        <form action="/order" method="post"  role="form"  class="php-email-form" enctype="multipart/form-data"> {% csrf_token%}#}
{#          <div class="form-row">#}
{#            <div class="col-lg-4 col-md-6 form-group">#}
{#              <input type="text" name="name" class="form-control" placeholder="Your Name" >#}
{#              <div class="validate"></div>#}
{#            </div>#}
{#            <div class="col-lg-4 col-md-6 form-group">#}
{#              <input type="email" class="form-control" name="email"  placeholder="Your Email"  >#}
{#              <div class="validate"></div>#}
{#            </div>#}
{#            <div class="col-lg-4 col-md-6 form-group">#}
{#              <input type="text" class="form-control" name="phone"  placeholder="Your Phone"  >#}
{#              <div class="validate"></div>#}
{#            </div>#}
{#            <div class="col-lg-4 col-md-6 form-group">#}
{#              <input type="date" name="date" class="form-control"  placeholder="Date"  >#}
{#              <div class="validate"></div>#}
{#            </div>#}
{#            <div class="col-lg-4 col-md-6 form-group">#}
{#                <select  class="form-control" name="item"   >#}
{#                    <option>-Select Item-</option>#}
{#                    {% for srow in srows %}#}
{#                        <option>{{ srow.2 }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#              <div class="validate"></div>#}
{#            </div>#}
{#            <div class="col-lg-4 col-md-6 form-group">#}
{#                <select  class="form-control" name="hf" >#}
{#                    <option>-Select Plate(Half/Full)-</option>#}
{#                    <option>Half Plate</option>#}
{#                    <option>Full Plate</option>#}
{#                </select>#}
{#                <div class="validate"></div>#}
{#            </div>#}
{#          </div>#}
{#          <div >#}
{#              {{msg}}#}
{#          </div>#}
{#          <div class="form-group button text-center">#}
{#                <input type="submit" class="btn btn-primary buttonset">#}
{#            </div>#}
{##}
{#        </form>#}
      </div>
    </section><!-- End Book A Table Section -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/menu/vendor/jquery/jquery.min.js"></script>
  <script src="/static/menu/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/menu/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/menu/vendor/php-email-form/validate.js"></script>
  <script src="/static/menu/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="/static/menu/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/menu/vendor/venobox/venobox.min.js"></script>
  <script src="/static/menu/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/menu/js/main.js"></script>

</body>

</html>