<!DOCTYPE html>
<html lang="en">
<!-------------------------------------HEADING------------------------------------------------------------------------->

<head>
	<meta charset ="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Contact-page of RestoSoochi| Contactless Menu for Restaurants</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<!-------------------------------------HEADING Close------------------------------------------------------------------------->
<!-----------------------------------------Body start------------------------------------------------------------------------>
<!-----------------------------------------------TOP SECTION----------------------------------------------------------------->
<body>
	<div class="header">
		<div class="container"> 
			<!-----------------------------------------------NAVIGATION----------------------------------------->
			<div class="navbar">
				<div class="logo">
				<a href="Home.html"><img src="/static/images/1logo.png" width="150px" class="logo"></a>
			</div>
			<nav>
				<ul id="MenuItems">
                    <li> <a href="/menu">Menu Page</a></li>
					<li> <a href="/Home">Home</a></li>
					<li> <a href="/Products">Products</a></li>
					<li> <a href="/About">About</a></li>
					<li> <a href="/Contact">Contact</a></li>
					<li> <a href="/restosoochi">User_Login</a></li>
                    <li> <a href="/userregister">User_Register</a></li>
				</ul>
			</nav>
			<a href="/QR"><img src="/static/images/cart.jpg" width="30px" height="30px" class="cart"></a>
			<img src="/static/images/Menu.png" class="menu-icon" onclick="menutoggle()">
			</div>
			<hr>
			<hr>
			<!-----------------------------------------------NAVIGATION CLOSE----------------------------------------->
</div>
</div>

<!-----------------------------------------------TOP SECTION CLOSE------------------------------------------------------------>
<!------------------------------------------------featured Categories--------------------------------------------------->
<div class="categories">
	<div class="small-container"> 
		<h2 class="title">Contact Details</h2> 
		<div class="row">
			<div class="col-3">
				<i class=" fa fa-quote-lef"></i>
				<img src="/static/images/user-1.jpg">
				<h3>KAPIL PATEL</h3> 
				<div class="btn"><h3 > Email:-</h3><p style="color: white;">andrio.patel54321@gmail.com
				</p></div>
			</div>
			<div class="col-3">
				<i class=" fa fa-quote-lef"></i>
				<img src="/static/images/user-2.jpg">
				<h3>KARAN SHARMA</h3>
				<div class="btn"><h3 > Email:-</h3><p style="color: white;">ks887755@gmail.com
				</p></div>
			</div>	
		</div>
		<div class="row">
			<div class="col-3">
				<i class=" fa fa-quote-lef"></i>
				<img src="/static/images/user-4.jpg">
				<h3>KARISHMA RAGHUWANSHI</h3> 
				<div class="btn"><h3 > Email:-</h3><p style="color: white;">karishmaraghuwanshi5@gmail.com
				</p></div>
			</div>
			<div class="col-3">
				<i class=" fa fa-quote-lef"></i>
				<img src="/static/images/user-3.jpg">
				<h3>MANASI SHRIVASTAVA</h3>
				<div class="btn"><h3 > Email:-</h3><p style="color: white;">manasishrivastava362@gmail.com
				</p></div>
			</div>	
		</div>
	</div>	
</div>
<!------------------------------------------------featured Categories CLOSE---------------------------------------------->


<!------------------------------------------------footer---------------------------------------------------------->
<div class="footer">
	<div class="container"> 
		<div class="row">
			<div class="footer-col-1">
				<img src="/static/images/1logo.png" width="300px">
				<p>Join us in making your place more safe to eat.</p>
			</div>
			<div class="footer-col-2">
				<h3>Follow Us </h3>
			<ul  style="list-style-type:none;">
				<li><a href="#" class="fa fa-facebook">  Facebook</a></li>
				<li><a href="#" class="fa fa-twitter">  Twitter</a></li>
				<li><a href="#" class="fa fa-instagram">  Instagram</a></li>
				<li><a href="#" class="fa fa-youtube">  YouTube</a></li>
			</ul>
			
			</div>
		</div>
		<hr>
			<p class="copyright"><span>&#169;</span> Copyright 2021, RestoSoochi Private Limited.</p>
	</div>
</div>
<!---------------------------------------Footer close -------------------------------------------------------------->
<!---------------------------------------js for toggle menu--------------------------------------------------------->
<script >
	var MenuItems=document.getElementById("MenuItems");
	MenuItems.style.maxHeight="0px";
	function menutoggle(){
		if(MenuItems.style.maxHeight== "0px")
		{
			MenuItems.style.maxHeight="200px"
		}
			else
			{
				MenuItems.style.maxHeight="0px"
			}
		}
	
</script>
<!---------------------------------------js for toggle menu close--------------------------------------------------------->
</body>  
<!-------------------------------------Body Close------------------------------------------------------------------------->
</html>