<!DOCTYPE html>
<html lang="en">
<!-------------------------------------HEADING------------------------------------------------------------------------->

<head>
	<meta charset ="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>RestoSoochi| Contactless Menu for Restaurants</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<!-------------------------------------HEADING Close------------------------------------------------------------------------->
<!-----------------------------------------Body start------------------------------------------------------------------------>
<!-----------------------------------------------TOP SECTION----------------------------------------------------------------->
<body>
	<div class="header">
		<div class="container"> 
			<!-----------------------------------------------NAVIGATION----------------------------------------->
			<div class="navbar">
				<div class="logo">
				<img src="/static/images/logo.png" width="150px" class="logo">
			</div>
			<nav>
				<ul id="MenuItems">
                    <li> <a href="/menu">Menu Page</a></li>
					<li> <a href="/Home">Home</a></li>
					<li> <a href="/Products">Products</a></li>
					<li> <a href="/About">About</a></li>
					<li> <a href="/Contact">Contact</a></li>
					<li> <a href="/restosoochi">User_Login</a></li>
                    <li> <a href="/userregister">User_Register</a></li>
				</ul>
			</nav>
			<a href="/QR"><img src="/static/images/cart.jpg" width="30px" height="30px" class="cart"></a>
			<img src="/static/images/Menu.png" class="menu-icon" onclick="menutoggle()">
			</div>
			<div class="row"><img src="/static/images/Bimage.png" ></div>
			<!-----------------------------------------------NAVIGATION CLOSE----------------------------------------->
			<!-----------------------------------------------INTRO----------------------------------------->
			<div class="row">
				<div class="col-2">
					<h1> Give Your Restaurant Menu<br> A new Style!</h1>
					<h3> INTERACTIVE DIGITAL MENU</h3>
					<p> Get the best QR code menu solution for your customers,<br> Make your place more safe to eat.</p>

					<a href="" class="btn"> Explore Now &#8594; </a>
				</div> 
				<div class="col-2">
				<img src="/static/images/MAIN IDEA.jpg" >
				</div>
			</div>
			<!-----------------------------------------------INTRO CLOSE----------------------------------------->
			<br>
			<br>
		</div>
</div>

<!-----------------------------------------------TOP SECTION CLOSE------------------------------------------------------------>
<!------------------------------------------------featured Categories--------------------------------------------------->
<div class="categories">
	<div class="small-container"> 
		<div class="row">
			<div class="col-3">
				<i class=" fa fa-quote-lef"></i>
				<img src="/static/images/menu_restaurant_table_Menu.png">
				<h3>Restaurant Table Menu</h3> 
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy text ever
				</p>

			</div>
			<div class="col-3">
				<i class=" fa fa-quote-lef"></i>
				<img src="/static/images/menu_hotel-restaurant.png">
				<h3>Hotel Card Menu</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy text ever
				</p>
			</div>
			<div class="col-3"> 
				<i class=" fa fa-quote-lef"></i>
				<img src="/static/images/menu_restaurant_banner.png">
				<h3> Restaurant Banner Menu</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy text ever
				</p>
			</div>	
		</div>
	</div>	
</div>
<!------------------------------------------------featured Categories CLOSE---------------------------------------------->

<!----------------------------------------------------featured products CLOSE------- ---------------------------------------------->
<!------------------------------------------------------offer---------------------------------------------------------------------->

<!------------------------------------------------------offer CLOSE-------------------------------------------------------------------->
<!------------------------------------------testimonial-------------------------------------------------------------------------------->
	<div class="testimonial">
			<div class="small-container">
				<div class="row">
					<div class="col-4">
						<i class=" fa fa-quote-lef"></i>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
							Lorem Ipsum has been the industry's standard dummy text ever
						</p>
						<div class="rating"> 
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						</div>
						<img src="/static/images/user-1.jpg">
						<h3>Kapil Patel</h3>
					</div>
<!------------------------------------------------------------------------------------------------------------------------>	
					<div class="col-4">
						<i class=" fa fa-quote-lef"></i>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
							Lorem Ipsum has been the industry's standard dummy text ever
						</p>
						<div class="rating"> 
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						</div>
						<img src="/static/images/user-2.jpg">
						<h3>Karan Sharma</h3>
					</div>
<!------------------------------------------------------------------------------------------------------------------------>	
<!------------------------------------------------------------------------------------------------------------------------>	
					<div class="col-4">
						<i class=" fa fa-quote-lef"></i>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
							Lorem Ipsum has been the industry's standard dummy text ever
						</p>
						<div class="rating"> 
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						</div>
						<img src="/static/images/user-3.jpg">
						<h3>Manasi Shrivastava</h3>
					</div>
<!------------------------------------------------------------------------------------------------------------------------>	
					<div class="col-4">
						<i class=" fa fa-quote-lef"></i>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
							Lorem Ipsum has been the industry's standard dummy text ever
						</p>
						<div class="rating"> 
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						</div>
						<img src="/static/images/user-4.jpg">
						<h3>Karishma Raghuwanshi</h3>
<!------------------------------------------------------------------------------------------------------------------------>						
					</div>
				</div>
			</div>
	 </div>
</div>
<!------------------------------------------testimonial CLOSE-------------------------------------------------------------->
<!------------------------------------------------footer---------------------------------------------------------->
<div class="footer">
	<div class="container"> 
		<div class="row">
			<div class="footer-col-1">
				<img src="/static/images/logo.png" width="300px">
				<p>Our Purpose Is To Make your place more safe to eat.</p>
			</div>
			<div class="footer-col-2">
				<h3>Follow Us </h3>
			<ul  style="list-style-type:none;">
				<li><a href="#" class="fa fa-facebook">  Facebook</a></li>
				<li><a href="#" class="fa fa-twitter">  Twitter</a></li>
				<li><a href="#" class="fa fa-instagram">  Instagram</a></li>
				<li><a href="#" class="fa fa-youtube">  YouTube</a></li>
			</ul>
			
			</div>
		</div>
		<hr>
			<p class="copyright"><span>&#169;</span> Copyright 2021, RestoSoochi Private Limited.</p>
	</div>
</div>
<!---------------------------------------Footer close -------------------------------------------------------------->
<!---------------------------------------js for toggle menu--------------------------------------------------------->
<script >
	var MenuItems=document.getElementById("MenuItems");
	MenuItems.style.maxHeight="0px";
	function menutoggle(){
		if(MenuItems.style.maxHeight== "0px")
		{
			MenuItems.style.maxHeight="200px"
		}
			else
			{
				MenuItems.style.maxHeight="0px"
			}
		}
	
</script>
<!---------------------------------------js for toggle menu close--------------------------------------------------------->
</body>  
<!-------------------------------------Body Close------------------------------------------------------------------------->
</html>