<style type='text/css'>
    .second{
      width: 1400px;
      height: auto;
      border: 1px solid coral;
      margin-top: 80px;
      padding: 20px;
      border-radius: 10px;
      background-color: aliceblue;

    }
  .main{
    display: flex;
    align-content: center;
    justify-content: center;
  }

</style>

<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item_Display</title>
</head>
<body>
<div class="main">
<div class="second">
  <center><h4>Items Display</h4></center><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item ID</th>
      <th scope="col">Category Name</th>
      <th scope="col">Item Name</th>
      <th scope="col">Item Description</th>
      <th scope="col">Price(Half/Full)</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  {% for row in rows %}
   <tbody>
    <tr>
      <th scope="row">{{row.0}}</th>
      <td>{{row.6}}</td>
      <td>{{row.2}}</td>
      <td>{{row.3}}</td>
      <td>Rs.{{row.5}}&nbsp;/&nbsp;Rs.{{ row.4 }}</td>
      <td><a href="/menucategoryitemupdate?itemid={{ row.0 }}">Edit/Delete</a></td>
    </tr>
  {% endfor %}

</table>
</div>
</div>
</body>
</html>